{
    "parser": "babel-eslint",
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "max-len": [1, 120, 2, {"ignoreComments": true }],
    },
    "extends": ["airbnb-base"],
    "env": {
        "jest": true,
    }
}

